* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

.flex-container {
  display: flex;
  /* flex-direction: row-reverse; */
  flex-direction: column;
  background-color: #f4f4f4;
  /* justify-content: center; */
  /* height: 400px; */
  /* align-items: center; */
  /* flex-wrap: wrap; */
}

.item {
  /* flex-grow, flex-shrink, flex-basis */
  /* items start at 100px and all grow at the same rate */
  /* flex: 1 0 100px; */
  /* flex: 1 0 0; */

  /* flex-grow: 1; */
  /* width: 100px; */
  /* flex-basis: 300px; */
  /* height: 100px; */
  background: #254de4;
  margin: 10px;
  color: #fff;

  display: flex;
  justify-content: center;
  align-items: center;
}

.item:nth-of-type(1) {
  /* order: 2; */
  flex-grow: 1;
  /* flex-shrink: 1; */
}

.item:nth-of-type(2) {
  /* order: 1; */
  flex-grow: 2;
  /* flex-shrink: 2; */
}

.item:nth-of-type(3) {
  /* order: 3; */
  /* flex-grow: 1; */
  /* flex-shrink: 1; */
}
